<div class="watch-list-wrapper">
  <h3 *ngIf="movies.length < 1">Loading...</h3>
  <h3 *ngIf="yetToWatchMovies.length">Film da vedere</h3>
  <div class="to-watch">
    <app-movies-tile *ngFor="let movie of yetToWatchMovies" [imageUrl]="movie.image" [id]="movie.id"
      [isWatched]="movie.isWatched" [isFav]="movie.isFav" (favClick)="onFavClick(movie)"
      (watchedClick)="onWatchedClick(movie)"></app-movies-tile>
  </div>
  <h3 *ngIf="watchedMovies.length">Da rivedere</h3>
  <div class="to-watch">
    <app-movies-tile *ngFor="let movie of watchedMovies" [imageUrl]="movie.image" [id]="movie.id"
      [isWatched]="movie.isWatched" [isFav]="movie.isFav" (favClick)="onFavClick(movie)"
      (watchedClick)="onWatchedClick(movie)"></app-movies-tile>
  </div>

</div>
